
.search-block{
    width: 30%;
    margin: 0 auto;
    background-color: rgba(218, 56, 56, 0.507);
    ul {
        padding: 0;
        list-style-type: none;
        input{
            width: 100%;
        }
        .search-result{
            width: 100%;
            border-bottom: 1px solid white;
        }
        .selected{
            color: white;
            background-color: rgb(11, 184, 11);
            font-weight: bold;
        }
    }

}